<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMMUELuKfUMuNBfX91Mm6iQ4A2mG4cvcfLp8qI0" crossorigin="anonymous">

<footer class="footer">
    <div class="footer-container">
        
      <div class="footer-section">
        <h2 class="footer-logo">Calm.</h2>
        <p class="aviso-legal">{{ 'Footer.LegalNotice' | translate }}</p>
      </div>
  
      <div class="footer-section">
        <h3>{{ 'Footer.QuickLinks' | translate }}</h3>
        <ul>
          <li><a routerLink="/home">{{ 'Home' | translate }}</a></li>
          <li><a routerLink="/product">{{ 'Products' | translate }}</a></li>
          <li><a href="#">{{ 'Footer.AboutUs' | translate }}</a></li>
          <br>
          <li><a routerLink="/privacy-policy">{{ 'Footer.PrivacyPolicy' | translate }}</a></li>
          <li><a href="#">{{ 'Footer.TermsAndConditions' | translate }}</a></li>
          <li><a href="#">{{ 'Footer.CookiesPolicy' | translate }}</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>{{ 'Footer.ContactUs' | translate }}</h3>
        <p><strong>{{ 'Footer.Email' | translate }}:</strong> support&#64;calmystery.pt</p>
        <p><strong>{{ 'Footer.Phone' | translate }}:</strong> +351 000 000 000</p>
        <p><strong>{{ 'Footer.Address' | translate }}:</strong> DEI - Departamento de Engenharia Informática - FCTUC</p>
      </div>
  
      <div class="footer-section">
        <h3>{{ 'Footer.FollowUs' | translate }}</h3>
        <div class="social-media">
          <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com/calm.mysterybox" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      
  
      <div class="footer-section">
        <h3>{{ 'Footer.Newsletter' | translate }}</h3>
        <form class="newsletter-form" (ngSubmit)="subscribeToNewsletter(emailInput.value)">
            <input #emailInput type="email" placeholder="{{ 'Footer.EnterEmail' | translate }}" required />
            <button type="submit">{{ 'Footer.Subscribe' | translate }}</button>
        </form>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 Calm. {{ 'Footer.AllRightsReserved' | translate }}</p>
      <p>{{ 'Footer.TermsOfService' | translate }} | <a routerLink="/privacy-policy">{{ 'Footer.PrivacyPolicy' | translate }}</a></p>
    </div>
  </footer>
