<div class="signin-container">
  <form class="signin-form">
    <h1>{{ 'SignIn.Title' | translate }}</h1>
    <input type="email" placeholder="{{ 'SignIn.EmailPlaceholder' | translate }}" required>
    <input type="password" placeholder="{{ 'SignIn.PasswordPlaceholder' | translate }}" required>
    <button type="submit">{{ 'SignIn.Button' | translate }}</button>
    <p class="signup-link">
      {{ 'SignIn.NoAccount' | translate }} 
      <a href="" routerLink="/signup">{{ 'SignIn.SignUpLink' | translate }}</a>
    </p>
  </form>
</div>
