<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header class="header">
  <div class="logo">
    <a routerLink="">
      <img src="assets/images/logo.png" alt="Logo" />
      <span class="title">Calm.</span>
    </a>
  </div>
  <div class="menu">
    <nav class="nav-links" [ngClass]="{ 'show': isBurgerExpanded, 'hide': !isBurgerExpanded }">
      <a routerLink="">{{ 'Home' | translate }}</a>
      <a routerLink="/product">{{ 'Product' | translate }}</a>
      <a routerLink="/signup">{{ 'Signup' | translate }}</a>
    </nav>
    <div class="menu-right">
      <div class="menu-icon">
        <span class="material-icons" (click)="burgerExpand()">menu</span>
      </div>
    </div>
    <div class="language-selector">
      <select (change)="changeLanguage($event)">
        <option value="en">🇬🇧</option>
        <option value="pt">🇵🇹</option>
      </select>
    </div>
  </div>
</header>
