<div class="signup-container">
  <form class="signup-form">
    <h1>{{ 'SignUp.Title' | translate }}</h1>
    <input type="text" placeholder="{{ 'SignUp.UsernamePlaceholder' | translate }}" required>
    <input type="email" placeholder="{{ 'SignUp.EmailPlaceholder' | translate }}" required>
    <input type="password" placeholder="{{ 'SignUp.PasswordPlaceholder' | translate }}" required>
    <button type="submit">{{ 'SignUp.Button' | translate }}</button>
    <p class="login-link">
      {{ 'SignUp.AlreadyHaveAccount' | translate }} 
      <a href="" routerLink="/signin">{{ 'SignUp.SignInLink' | translate }}</a>
    </p>
  </form>
</div>
